@import '../../node_modules/materialize-css/dist/css/materialize.css';


.user {
  width: 70%;
  margin: auto;
  margin-top: 90px;
}

.transitions {
  width: 70%;
  margin: auto;
}

#add-button {
  left: 15%;
}

#action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#form-add {
  display: none;
  /*position: fixed;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#form-add.show {
  display: block;
}
