@import '../../node_modules/materialize-css/dist/css/materialize.css';

body {
	background-color: red;
}

#action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#form-add {
  display: none;
  /*position: fixed;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.9);
}

#form-add.show {
  display: block;
}
